@import "mixins";

input {
  &:focus {
    outline: none;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
  /* or inline-flex */
  .flex-item {
    flex-grow: 2;
    text-align: center;
    padding-bottom: 10px;
    #lightBoxShadow;
    /* default 0 */
    img{
      width: 60px;
    }
    p {
      width: 75%;
      margin: 0 auto;
      span.max-temp {
        float: left;
      }
      span.min-temp {
        float: right;
      }
    }
  }
}

//search form
.sbx {
  position: relative;
  width: 50%;
  #lightBoxShadow;
  .tIp {
    width: 90%;
    height: 45px;
    padding: 20px 10px;
    font-size: 22px;
    border: none;
  }
  .srbtn {
    position: absolute;
    font-size: 22px;
    right: 20px;
    line-height: 2.2em;

    &:hover,
    &:visited {
      color: #3377a7;
    }
  }
}

#forecastReport {
  #lightBoxShadow;
  padding: 20px;
  .temperature-blk {
    position: relative;
    .temperature {
      display: inline;
    }
    .units-blk {
      display: inline;
      position: absolute;
      top: 0;
      .units {
        cursor: pointer;
        color: #3377a7;
        font-size: 18px;
      }
    }
  }
}
