@import "variables";
@import "mixins";

input {
  &:focus {
    outline: none;
  }
}

/*.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
 
  .flex-item {
    flex-grow: 2;
    text-align: center;
    padding-bottom: 10px;
    #lightBoxShadow;
    img {
      width: 60px;
    }
    p {
      width: 75%;
      margin: 0 auto;
      span.max-temp {
        float: left;
      }
      span.min-temp {
        float: right;
      }
    }
  }
}*/

//search form
.sbx {
  position: relative;
  width: 50%;
  #lightBoxShadow;
  .tIp {
    width: 90%;
    height: 45px;
    padding: 20px 10px;
    font-size: 22px;
    border: none;
  }
  .srbtn {
    position: absolute;
    font-size: 22px;
    right: 20px;
    line-height: 2.2em;
    &:hover,
    &:visited {
      color: @color1;
    }
  }
  .maxWidthResponsive(480px, {
    width: 100%;
  }
  );
}

#forecastReport {
  #lightBoxShadow;
  padding: 20px;
  .temperature-blk {
    position: relative;
    padding-top: 10px;
    img {
      margin-top: -10px;
    }
    .temperature {
      display: inline;
    }
    .units-blk {
      display: inline;
      position: absolute;
      top: 10px;
      .units {
        cursor: pointer;
        color: @color1;
        font-size: 18px;
      }
    }
  }
  ul#weatherConditions {
    list-style-type: none;
    padding-top: 10px;
  }
}

.container-outer {
  overflow: scroll;
  width: 100%;
  height: 200px;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent*/
  }
}

.container-inner {
  width: 1000px;
}

#owk {
  margin-top: 20px;
  .owk-items {
    width: 134px;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    .marginNotFL;
    #lightBoxShadow;
    &:hover {
      #lightBoxShadowHover;
    }
    img {
      width: 60px;
    }
    p {
      width: 75%;
      margin: 0 auto;
      span.max-temp {
        float: left;
      }
      span.min-temp {
        float: right;
      }
    }
    .minWidthResponsive(1200px, {
      .marginNotFL2;
    }
    );
  }
}
