<header class="header">
  <div class="container-fluid">
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img class="logo" src="images/logo.png" width="100" alt="RWeatherApp Logo"></a>
      <form id="searchForm" name="searchForm" class="navbar-form" role="form">
        <div class="form-group sbx">
          <input class="tIp" type="text" ng-model="vm.currentCity" placeholder="Search by city">
          <a class="srbtn" ng-click="vm.submit()"> 
        <i class="fas fa-search"></i>              
      </a>
        </div>
      </form>
    </nav>
  </div>
</header>
<div class="container">
  <section id="errorMessages">

  </section>
  <div id="forecastReport">
    <div class="row">
      <div id="containerOuter" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <i id="scrollUp" class="fa fa-chevron-up scroll-owk-items" aria-hidden="true" ng-click="vm.scrollUp()"></i>
        <div class="container-inner" id="owk">
          <div class="owk-items" ng-repeat="listItem in vm.tempList" ng-click="vm.getTemperature(listItem.date , 'c')">
            <h4>{{listItem.date}}</h4>
            <h4>{{listItem.day}}</h4>
            <img ng-src="{{listItem.iconSrc}}">
            <p>
              <span class="max-temp">{{listItem.temp_max}}</span>
              <span class="min-temp">{{listItem.temp_min}}</span>
            </p>
          </div>
        </div>
        <i id="scrollDown" class="fa fa-chevron-down scroll-owk-items" aria-hidden="true" ng-click="vm.scrollDown()"></i>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <ul id="weatherDiscription">
          <li>
            <h2 id="city">{{vm.data.cityInfo.name}}, {{vm.data.cityInfo.country}}</h2>
          </li>
          <li>
            <h4 id="time">{{vm.activeTempList.day}}, {{vm.activeTempList.time}}</h4>
          </li>
          <li>
            <img ng-src="{{vm.activeTempList.iconSrc}}">
            <h4>{{vm.activeTempList.weather.description}}</h4>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">

        <ul id="weatherConditions">
          <li id="tempInfo">
            <h2 class="temperature">{{vm.activeTempList.temp}}</h2>
            <section class="units-blk">
              <span class="units active" id="celcius" ng-click="vm.getTemperature(vm.activeTempList.date,'c')">&deg;C </span>
              <span class="units">|</span>
              <span class="units" id="fhite" ng-click="vm.getTemperature(vm.activeTempList.date,'f')"> &deg;F</span>
            </section>
          </li>
          <li>
            <h4>Humidity : <span class="contition-value">{{vm.activeTempList.humidity}}%</span></h4>
          </li>
          <li ng-hide="vm.fahrenheit">
            <h4>Wind : <span class="contition-value">{{vm.convertKM(vm.activeTempList.wind.speed)}} km/h</span></h4>
          </li>
          <li ng-show="vm.fahrenheit">
            <h4>Wind : <span class="contition-value">{{vm.activeTempList.wind.speed}} mph</span></h4>
          </li>
        </ul>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div ui-view="graphView"></div>
      </div>
    </div>

  </div>
</div>
